.Fl{
    position: absolute;
    height: 120px;
    width: 120px;
    z-index: -1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); } 
}
.Fl:hover{
    animation-name: floatingh;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes floatingh {
    0% {
      opacity: 1;transform:translate(0px,  0px);
    }
    100% {
        opacity: 0;transform:translate(0px,  0px);
    }
}
#b1{
    top: 10%;
    left: 5%;
  }
#b2{
    top: 30%;
    left: 15%;
}
#b3{
    top: 60%;
    left: 10%;
  }
  #b4{
    top: 27%;
    right: 9%;
  }
  #b5{
    top: 60%;
    right: 15%;
    width: 130px;
  }
  #circle1{
    position: absolute;
    top: 45%;
    right: 15%;
    width: 200px;
    border: 5px solid;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes rotate {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(360deg);
    }
  }
  #circle1:hover{
    background-color:rgb(95, 198, 245);
  }