#bird {
  position: absolute;
  background-color: yellow;
  top: 50%;
  left: 10%;
}

@keyframes movePipeTop {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

@keyframes movecoin {
  0% {
    right: 20%;
  }
  100% {
    right: 100%;
  }
}

.controlerbtns {
  background-color: rgb(46, 184, 46);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid black;
  position: absolute;
  width: 9%;
  height: 9%;
  top: 75%;
  right: 0%;
  z-index: 5;
  cursor: pointer;
}

.controlerbtns:hover {
  background-color: rgb(36, 146, 36);
}

#upbtn {
  top: 65%;
  right: 8%;
}

#leftbtn {
  top: 75%;
  right: 16%;
}

#downbtn {
  top: 85%;
  right: 8%;
}

#shiftkey {
  top: 87%;
  right: 22%;
}

#withdrawPAGEcon {
  position: relative;
  top: 5%;
  left: 0%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#withdrawPAGE {
  position: absolute;
  z-index: 5;
}
